<div class="header">
    <div class="burger" onclick="burgerMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <a class="logo" href="/">Movie Database</a>
    <div class="moviesearch">
        <form action="/results/page=1" method="GET">
            <input type="text" name="movie" placeholder="Search Movie ..." autocomplete="off" required>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <ul id="mobilenav">
        
        <% if (locals.username === null) { %>
        <li class="mobilenav-item"><a href="/register">Register</a></li>
        <li class="mobilenav-item"><a href="/login">Login</a></li>
        <% } else { %>
        <li class="mobilenav-item"><a href="/profile"><%= locals.username %></a></li>
        <li class="mobilenav-item"><a href="/logout">Logout</a></li>
        <% } %>
    </ul>
    <ul class="nav">
        
        <% if (locals.username === null) { %>
        <li class="nav-item"><a href="/register">Register</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
        <% } else { %>
        <li class="nav-item"><a href="/profile"><%= locals.username %></a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
        <% } %>
    </ul>
</div>
<script src="burgermenu.js"></script>