<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OMDB Test</title>
</head>
<body>
    <%- include("partials/header"); %> 
    <div class="content">
        <div class="resultpage">
            <% movieDetails.forEach((data)=>{ %>
                <div class="resultmovie">
                    <img src="<%= data['Poster']%>" onerror="this.src ='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkmpiE3saxLv17jlQVpffuUAAtU95HJoaPRw&usqp=CAU'">
                    <p><%= data['Title']%></p>
                </div>    
            <% }); %>
            <form>
                <button formaction="/results">search again</button>
                <button formaction="/">search again</button>
            </form>

        </div>
    </div>
    <%- include("partials/footer"); %>
</body>
</html>
