<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OMDB Test</title>
</head>
<body>
    <%- include("templates/header"); %> 
    <h1>Results Page</h1>
    <ul>
        <% data["Search"].forEach(function(movie){ %>
            <p>   
            <%- movie["Title"]; %>
            </p>
        <% }) %>
    </ul>
    <form>
        <button formaction="/">search again</button>
    </form>
    <%- include("templates/footer"); %>
</body>
</html>
