@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#002855), to(#0466c8));
  background: linear-gradient(90deg, #002855, #0466c8);
}

.header {
  background-color: #001233;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.change .bar1 {
  -webkit-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.moviesearch {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 40px;
  position: absolute;
  right: 0;
}

.moviesearch input {
  padding-left: 12px;
  height: 25px;
  width: 100px;
  background: none;
  border: none;
  outline: none;
  color: #979dac;
}

.moviesearch button {
  padding-right: 12px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.moviesearch button i {
  color: #979dac;
}

.nav {
  display: none;
}

#mobilenav {
  margin-top: 45px;
  z-index: 1;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #001233e8;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobilenav-item {
  padding: 15px;
  list-style: none;
}

.mobilenav-item a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.slider {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moviecard {
  border-radius: 15px;
  background-color: #002855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 80%;
  max-width: 80%;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.moviecard img {
  padding: 10px;
  max-height: 70%;
  max-width: 70%;
}

.title {
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.mtext {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.login, .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 40px);
}

.lcontainer, .rcontainer {
  border-radius: 5px;
  background-color: white;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lcontainer h1, .rcontainer h1 {
  padding: 20px;
  color: #001233;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.email, .password, .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.email label, .password label, .name label {
  padding-left: 5px;
  color: #002855;
}

.email input, .password input, .name input {
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email input:focus, .password input:focus, .name input:focus {
  border-bottom: 2px solid #ccc;
}

.btnwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sbtn {
  margin: 20px;
  background-color: #014781;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 16px;
}

.noacc {
  padding: 10px;
  color: #001233;
  font-family: 'Oswald', sans-serif;
}

.noacc a {
  text-decoration: none;
  color: #014781;
}

.errormsg {
  border-radius: 5px;
  border-color: #f5c6cb;
  background-color: #f8d7da;
  padding: 10px 15px;
  margin: 20px;
  color: #721c24;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
}

.profil {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

.profilehead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #979dac;
}

.username {
  font-weight: bold;
}

.adminname {
  font-size: 12px;
  padding-left: 10px;
  color: #a10000;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
  .moviesearch {
    position: relative;
    left: 0;
  }
  .moviesearch input {
    width: 200px;
  }
  .mobilenav {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
    position: absolute;
    right: 0;
  }
  .nav-item {
    padding-left: 30px;
    list-style: none;
  }
  .nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
  }
  .moviecard {
    height: 450px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */