@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

.header {
  background-color: #001233;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding-left: 1rem;
}

.header .moviesearch {
  background-color: #ffffff;
  margin-left: 2rem;
  border-radius: 40px;
}

.header .moviesearch input {
  padding-left: 12px;
  height: 25px;
  width: 200px;
  background: none;
  border: none;
  outline: none;
  color: #979dac;
}

.header .moviesearch button {
  padding-right: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.header .moviesearch button i {
  color: #979dac;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  position: absolute;
  right: 0;
}

.header .nav .nav-item {
  padding-left: 30px;
  list-style: none;
}

.header .nav .nav-item a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.content {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#002855), to(#0466c8));
  background: linear-gradient(90deg, #002855, #0466c8);
  /*.moviesearch
        height: 200px
        display: flex
        align-items: center
        justify-content: center
        input
            border-top-left-radius: 10px
            border-bottom-left-radius: 10px
            border: 2px solid $bg1
            padding: 10px
            width: 400px
            color: $bg1
            background-color: $main-color
            outline: none
        ::placeholder
            color: $bg3
            opacity: 0.5
        button
            padding: 10px
            background-color: $main-color
            border: 2px solid $bg1
            outline: none
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            i
                color: $bg1
                &:active
                    color: $bg2 */
}

.content .slider {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .moviecard {
  border-radius: 15px;
  background-color: #002855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  width: 300px;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.content .moviecard img {
  padding: 10px;
  max-height: 70%;
  max-width: 70%;
}

.content .moviecard .title {
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.content .moviecard .mtext {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.content .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 40px);
}

.content .lcontainer {
  border-radius: 5px;
  background-color: white;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .lcontainer h1 {
  padding: 20px;
  color: #001233;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.content .lcontainer .email, .content .lcontainer .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.content .lcontainer .email input, .content .lcontainer .password input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .lcontainer .btnwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .lcontainer .btnwrapper .sbtn {
  margin: 20px;
  background-color: #014781;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 16px;
}

.content .lcontainer p {
  padding: 10px;
  color: #001233;
  font-family: 'Oswald', sans-serif;
}

.content .lcontainer p a {
  text-decoration: none;
  color: #014781;
}
/*# sourceMappingURL=style.css.map */