//fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//colors
$main-color: #ffffff
$bg1: #001233
$bg2: #0466c8
$bg3: #002855
$bg4: #979dac

* //reset
    margin: 0
    padding: 0

body
    background: $main-color

// Header CSS

.header
    background-color: $bg1
    height: 45px
    display: flex
    align-items: center
    .logo 
        color: $main-color
        text-decoration: none
        font-family: 'Oswald', sans-serif
        font-weight: bold
        padding-left: 1rem
    .moviesearch
        background-color: $main-color
        margin-left: 2rem
        border-radius: 40px
        input
            padding-left: 12px
            height: 25px
            width: 200px
            background: none
            border: none
            outline: none
            color: $bg4
        button
            padding-right: 12px
            cursor: pointer
            background: none
            border: none
            i
                color: $bg4
    .nav
        display: flex
        justify-content: center
        align-items: center
        padding-right: 20px
        position: absolute;
        right: 0;
        .nav-item
            padding-left: 30px 
            list-style: none
            a
                color: $main-color
                text-decoration: none
                font-family: 'Roboto', sans-serif
                font-size: 0.8rem

// Page CSS
.content
    height: 100vh
    background: linear-gradient(90deg, $bg3, $bg2)
    .slider
        height: 500px
        display: flex
        justify-content: center
        align-items: center
    .moviecard
        border-radius: 15px
        background-color: $bg3
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 450px
        width: 300px
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15)
        img
            padding: 10px
            max-height: 70%
            max-width: 70%
        .title
            padding: 10px
            color: $main-color
            font-family: 'Roboto', sans-serif
            font-weight: bold
        .mtext
            color: $main-color
            font-family: 'Roboto', sans-serif
    /*.moviesearch
        height: 200px
        display: flex
        align-items: center
        justify-content: center
        input
            border-top-left-radius: 10px
            border-bottom-left-radius: 10px
            border: 2px solid $bg1
            padding: 10px
            width: 400px
            color: $bg1
            background-color: $main-color
            outline: none
        ::placeholder
            color: $bg3
            opacity: 0.5
        button
            padding: 10px
            background-color: $main-color
            border: 2px solid $bg1
            outline: none
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            i
                color: $bg1
                &:active
                    color: $bg2 */
    .login
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        height: calc(100vh - 40px)
    .lcontainer
        border-radius: 5px
        background-color: white
        width: 20%
        display: flex
        flex-direction: column
        align-items: center
        h1
            padding: 20px
            color: $bg1
            font-family: 'Oswald', sans-serif
            font-weight: 400
        .email, .password
            display: flex
            flex-direction: column
            padding: 10px
            font-family: 'Roboto', sans-serif
            input
                padding: 12px 20px
                margin: 8px 0
                display: inline-block
                border: 1px solid #ccc
                border-radius: 5px
                box-sizing: border-box
        .btnwrapper
            display: flex
            align-items: center
            justify-content: center
            .sbtn
                margin: 20px
                background-color: #014781
                padding: 10px 16px
                border-radius: 5px
                border: none
                cursor: pointer
                display: flex
                align-items: center
                justify-content: center
                color: $main-color    
                font-size: 16px  
        p 
            padding: 10px
            color: $bg1
            font-family: 'Oswald', sans-serif
            a
                text-decoration: none
                color: #014781
            

            
