<div class="header">
    <a class="logo" href="/">Movie Database</a>
    <ul class="nav">
        <li class="nav-item"><a href="/register">Register</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
        <!--<li class="nav-item"><a href="#">Logout</a></li>-->
    </ul>
</div>